$border-color: #f5f6fa;
p,
*,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.search-section {
  margin-top: 22px;
  padding: 0px 36px;
  label {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #8083a3;
    margin-bottom: 8px;
  }
  .search {
    width: 100%;
    height: 40px;
    padding: 0px 5px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid transparent;
    &::placeholder {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #1a1c1d;
    }
    &:focus {
      border: 2px solid gray;
      outline: none;
    }
  }
  img {
    position: absolute;
    top: 14px;
    right: 10px;
  }
}
