$background-colo: #faf9ff;
$menu-color: #8183a3;
$border-color: #f5f6fa;
@mixin d-f-j-a-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

:host {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: white;
  font-family: "Lato", sans-serif;
  .left-panel {
    background-color: $background-colo;
    min-width: 40%;
    .topnav {
      overflow: hidden;
      position: relative;
      border-bottom: 2px solid $border-color;
      padding: 22px;
      .menu {
        height: 40px;
        width: 40px;
        border-radius: 10px;
        background: #ffffff;
        border: 1px solid $border-color;
        box-sizing: border-box;
        @include d-f-j-a-center;
        flex-direction: column;
        margin-right: 15px;
        span {
          display: block;
          width: 16px;
          height: 2px;
          background: $menu-color;
          &:not(:last-child) {
            margin-bottom: 3px;
          }
        }
      }
      & h2 {
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        color: #1a1c1d;
      }
      .header-btns-wrap {
        display: flex;
        width: 88px;
        justify-content: space-between;
        .header-btn {
          background: #ffffff;
          border: 1px solid $border-color;
          box-sizing: border-box;
          border-radius: 10px;
          width: 40px;
          height: 40px;
          @include d-f-j-a-center;
        }
      }
    }
  }
  .detail {
    min-width: 60%;
  }
}

@media screen and (max-width: 768px) {
  :host {
    display: block;
  }
  .left-panel {
    background-color: $background-colo;
    min-width: 100%;
  }
  .detail {
    min-width: 100%;
    position: absolute;
    top: 0;
    background: white;
    transform: translateX(100%);
    transition: 0.3s all;
  }
}
