<div class="left-panel">
  <div>
    <!-- Top Navigation Menu -->
    <div class="topnav d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <a class="menu" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <h2>Contacts</h2>
      </div>
      <div class="header-btns-wrap">
        <a href="#">
          <button class="header-btn">
            <img src="./../../assets/left-Arrow.svg" alt="" />
          </button>
        </a>
        <a href="#">
          <button class="header-btn">
            <img src="./../../assets/right-Arrow.svg" alt="" />
          </button>
        </a>
      </div>
    </div>
  </div>
  <app-contact-list-search></app-contact-list-search>
  <app-contact-list></app-contact-list>
</div>
<div
  class="detail"
  [style.transform]="'translateX(' + (translatValue$ | async) + ')'"
>
  <router-outlet></router-outlet>
</div>
